<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>maxParticles</key>
    <integer>59</integer>
    <key>angle</key>
    <real>117.87</real>
    <key>angleVariance</key>
    <real>329.67</real>
    <key>duration</key>
    <real>-1</real>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <real>0.35000000000000003</real>
    <key>startColorGreen</key>
    <real>0.32</real>
    <key>startColorBlue</key>
    <real>0.77</real>
    <key>startColorAlpha</key>
    <real>0.54</real>
    <key>startColorVarianceRed</key>
    <real>0</real>
    <key>startColorVarianceGreen</key>
    <real>0</real>
    <key>startColorVarianceBlue</key>
    <real>0</real>
    <key>startColorVarianceAlpha</key>
    <real>0</real>
    <key>finishColorRed</key>
    <real>0.31</real>
    <key>finishColorGreen</key>
    <real>0.6900000000000001</real>
    <key>finishColorBlue</key>
    <real>0.49</real>
    <key>finishColorAlpha</key>
    <real>0.42</real>
    <key>finishColorVarianceRed</key>
    <real>1</real>
    <key>finishColorVarianceGreen</key>
    <real>1</real>
    <key>finishColorVarianceBlue</key>
    <real>0.75</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.15</real>
    <key>startParticleSize</key>
    <real>19.61</real>
    <key>startParticleSizeVariance</key>
    <real>67.96000000000001</real>
    <key>finishParticleSize</key>
    <real>11.03</real>
    <key>finishParticleSizeVariance</key>
    <real>6.75</real>
    <key>sourcePositionx</key>
    <real>300</real>
    <key>sourcePositiony</key>
    <real>300</real>
    <key>sourcePositionVariancex</key>
    <real>797.27</real>
    <key>sourcePositionVariancey</key>
    <real>686.3000000000001</real>
    <key>rotationStart</key>
    <real>89.45</real>
    <key>rotationStartVariance</key>
    <real>202.79</real>
    <key>rotationEnd</key>
    <real>147.08</real>
    <key>rotationEndVariance</key>
    <real>149.01</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>gravityx</key>
    <real>-8.72</real>
    <key>gravityy</key>
    <real>0.58</real>
    <key>speed</key>
    <real>0</real>
    <key>speedVariance</key>
    <real>95.28</real>
    <key>radialAcceleration</key>
    <real>-257.09000000000003</real>
    <key>radialAccelVariance</key>
    <real>204.66</real>
    <key>tangentialAcceleration</key>
    <real>374.95</real>
    <key>tangentialAccelVariance</key>
    <real>300.82</real>
    <key>maxRadius</key>
    <real>17.19</real>
    <key>maxRadiusVariance</key>
    <real>289.14</real>
    <key>minRadius</key>
    <real>425.02</real>
    <key>rotatePerSecond</key>
    <real>-327.97</real>
    <key>rotatePerSecondVariance</key>
    <real>270.4</real>
    <key>particleLifespan</key>
    <real>1.89</real>
    <key>particleLifespanVariance</key>
    <real>7.01</real>
    <key>textureFileName</key>
    <string>texture.png</string>
  </dict>
</plist>